@media only screen and (max-width: 600px) {
    .body {
        position: relative;
    }

    .bottom, .right, .info, .left, .settingsMenu, .unboxing {
        width: 100%;
    }

    .optionBackground .amount, .shopContainer .optionBackground .price, .shopContainer .optionBackground .amount {
        right: 8px;
    }

    .sortMenu .mobileOff {
        display: none;
    }

    .tab {
        width: 100px;
        transform: rotateX(180deg);
    }

    .tabContainer {
        width: calc(100% - 50px);
        overflow-x: auto;
    }

    .tabContainer ::-webkit-scrollbar {
        height: 2px;
    }

    .tabContainer ::-webkit-scrollbar-thumb {
        background-color: #727272;
    }

    .tabs {
        transform: rotateX(180deg);
        height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .left {
        left: 0;
    }

    .upgradesContainer {
        top: 33px;
    }

    .displayCase {
        display: none;
    }

    .toggle-button {
        display: flex;
        pointer-events: all;
    }

    .tab-content {
        transform: translateX(100%);
        transition: .4s ease-in-out;
    }

    .tabContainer {
        transform: translateX(calc(100% + 50px));
        transition: .4s ease-in-out;
    }

    .tab-content.active, .tabContainer.active {
        pointer-events: all;
        display: flex;
        transform: translateX(0);
        overflow-x: hidden;
    }

    .inventoryItems {
        top: 45px;
    }

    .option {
        width: calc(100% - 19px);
    }

    .packOptions .price {
        left: 100px;
        top: 94px;
    }

    .shopContainer .option .price {
        display: none;
    }

    .shopContainer .option .priceMob {
        display: block;
    }

    .option.collection .titleRight, .option.collection .amount {
        right: 8px;
    }

    #stats {
        width: 100%;
    }

    .statContainer {
        width: 100%;
    }

    .statTable {
        margin: 0 5px;
        width: calc(100% - 33px);
        height: 100%
    }

    .tradeButton {
        width: 80%;
        margin: 25px 10%;
    }

    .right {
        pointer-events: none;
        background-color: transparent;
    }

    .inventoryItem:hover {
        margin: 7px -2px 0 7px;
    }

    .inventoryItem:active {
        margin: 7px -2px 0 7px;
    }

    .saveIndicator {
        z-index: 3;
        left: 5px;
        bottom: 135px;
    }

    .sortTitle {
        display: none;
    }

    .sortOption {
        margin-bottom: 5px;
    }

    .upgradeOption {
        width: 60px;
    }

    .modal-upgrade {
        width: calc(100% + 20px);
        margin: 15px -10px 0;
        transform: translateX(0);
    }

    .modal-upgrade:hover {
        margin: 15px -10px 0;
        border: 1px #4c4f52 solid;}

    .modal-upgrade:active {
        margin: 15px -10px 0;
        border: 1px #C25B56 solid;
    }

    .modal-upgrade .price {
        left: 110px;
        top: 74px;
    }

    .modal-upgrade .amount {
        right: 7px;
    }

    .selectItemHeader {
        transform: translate(20px, 0);
    }

    .value {
        top: 47px;
    }

    .packDisplay {
        margin-bottom: 260px;
    }

    .settingsRight {
        right: -15px;
    }

    .settingsLeft {
        transform: translateX(-15px);
    }

    .modal-card-display {
        transform: translate(-20%, 22%);
    }

    .modal-footer .column {
        width: 50%;
        margin-left: 20px;
        transform: translateX(-43px);
    }

    .modal-footer .column div {
        width: 100%;
    }
}