@media only screen and (max-width: 600px) {
    .body {
        position: relative;
    }

    .bottom, .right, .info, .left, .settingsMenu {
        width: 100%;
    }

    .option {
        width: calc(100% - 19px);
    }

    .tradeButton {
        width: 80%;
        margin: 25px 10%;
    }

    .optionBackground .amount, .shopContainer .optionBackground .price, .shopContainer .optionBackground .amount {
        right: 8px;
    }

    .packOptions .price {
        left: 100px;
        top: 94px;
    }

    .sortTitle {
        display: none;
    }

    .sortMenu .mobileOff {
        display: none;
    }

    .tabContainer {
        width: calc(100% - 50px);
        overflow-x: auto;
    }

    .tabContainer ::-webkit-scrollbar {
        height: 2px;
    }

    .tabContainer ::-webkit-scrollbar-thumb {
        background-color: #727272;
    }

    .tabs {
        transform: rotateX(180deg);
        height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .tab {
        width: 100px;
        transform: rotateX(180deg);
    }

    .tab-content {
        transform: translateX(100%);
        transition: .4s ease-in-out;
    }

    .tabContainer {
        transform: translateX(calc(100% + 50px));
        transition: .4s ease-in-out;
    }

    .tab-content.active, .tabContainer.active {
        pointer-events: all;
        display: flex;
        transform: translateX(0);
        overflow-x: hidden;
    }

    .right {
        pointer-events: none;
        background-color: transparent;
    }

    .packDisplay {
        margin-bottom: 260px;
    }

    .toggle-button {
        display: flex;
        pointer-events: all;
    }

    .inventoryItem:hover {
        margin: 7px -2px 0 7px;
    }

    .inventoryItem:active {
        margin: 7px -2px 0 7px;
    }

    .saveIndicator {
        z-index: 2;
        bottom: 135px;
    }
}

@media only screen and (max-height: 760px) {
    .packDisplay {
        transform: translateY(0%);
    }

    .packDisplay img {
        width: 160px;
        transform: translate(21px, 90px);
    }
    .backgroundImage {
        transform: translate(-25%, -30%);
    }

}